<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethanhua.eyepetizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".EyeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.video.VideoDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="user"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.category.CategoryListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.ethanhua.eyepetizer.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="categories"
                    android:pathPrefix="/all"
                    android:scheme="eyepetizer" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.category.CategoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.ethanhua.eyepetizer.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="category"
                    android:scheme="eyepetizer" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.ethanhua.eyepetizer.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="webview"
                    android:scheme="eyepetizer" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.search.SearchActivity"
            android:theme="@style/fadeInAndOutActivity" />
        <activity
            android:name=".module.ranklist.RankListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.ethanhua.eyepetizer.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ranklist"
                    android:scheme="eyepetizer" />
            </intent-filter>
        </activity>
    </application>

</manifest>